* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.top-header {
  background-color: #0282f9;
  text-align: right;
}
.top-header span {
  color: white;
  font-size: 10px;
  padding: 10px;
  font-weight: 600;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-wrapper .logo img {
  width: 65px;
}
.header-wrapper .menu {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #474747;
}
.header-wrapper .menu li {
  margin: 0 10px;
}
.header-wrapper .menu li.current {
  color: #0282f9;
}
.header-wrapper .menu li a {
  line-height: 96px;
  text-decoration: none;
  color: inherit;
}

.banner {
  height: 350px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .container {
  position: relative;
}
.banner .button-top {
  position: absolute;
  bottom: -370px;
  left: 0;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0282f9;
  color: white;
}

section {
  background-color: #1c1c1c;
  padding: 20px 0 25px;
}
section .comics {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 15px;
}
section .comics .comic {
  width: 16.6666666667%;
  padding-bottom: 20px;
}
section .comics .comic img {
  width: 150px;
}
section .comics .comic h3 {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
}
section .main-button {
  font-size: 18px;
  text-align: center;
}
section .main-button a {
  text-decoration: none;
  color: white;
  background-color: #0282f9;
  padding: 10px 40px;
}

.prefooter {
  background-color: #0282f9;
  padding: 40px 0;
}
.prefooter ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.prefooter ul li {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.prefooter ul a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 13px;
}
.prefooter ul img {
  height: 40px;
  max-width: 40px;
}

footer .background-container {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer .background-container .footer-wrapper {
  padding: 25px 0 35px;
  position: relative;
  overflow: hidden;
}
footer .background-container .footer-wrapper .footer-img {
  position: absolute;
  top: -25%;
  right: 0;
}
footer .background-container .footer-wrapper .footer-img img {
  width: 450px;
}
footer .background-container .footer-wrapper .left-side {
  display: flex;
}
footer .background-container .footer-wrapper .left-side .footer-col {
  margin-right: 20px;
}
footer .background-container .footer-wrapper .left-side .footer-col h3 {
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}
footer .background-container .footer-wrapper .left-side .footer-col .footer-menu {
  list-style-type: none;
  margin-top: 10px;
}
footer .background-container .footer-wrapper .left-side .footer-col .footer-menu a {
  text-decoration: none;
  color: #666f66;
  font-size: 12px;
}
footer .footer-bottom {
  background-color: #303030;
  padding: 25px 0;
}
footer .footer-bottom .bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .bottom-wrapper .button {
  padding: 10px;
  border: 2px solid #0282f9;
}
footer .footer-bottom .bottom-wrapper .button a {
  text-decoration: none;
  color: white;
}
footer .footer-bottom .bottom-wrapper .social {
  display: flex;
  align-items: center;
}
footer .footer-bottom .bottom-wrapper .social span {
  color: #0282f9;
  font-weight: 600;
}
footer .footer-bottom .bottom-wrapper .social img {
  margin-left: 15px;
  height: 30px;
}