.top-header {
    background-color: $brand_primary_color;
    text-align: right;
    padding: 3px;

    span {
        color: white;
        font-size: 9px;
        margin-left: 20px;
        font-weight: 600;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {
        img {
            width: 65px;
        }
    }
    
    .menu {
        display: flex;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: $text_color;

        li {
            margin: 0 10px;

            &.current {
                color: $brand_primary_color;
                border-bottom: 4px solid $brand_primary_color;
            }

            a {
                line-height: 96px;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}