main {
    
    &.home-background {
        background-color: $home_background;
        padding: 20px 0 0 0;
        
        .comics-list {

            .button-top{
                position: absolute;
                top: -35px;
                left: 0;
                
                a {
                    font-size: 20px;
                    padding: 10px 20px;
                    text-decoration: none;
                    background-color: $brand_primary_color;
                    color: white
                }
            }
        
            .comics {
                display: flex;
                flex-wrap: wrap;
                padding: 25px 15px;
        
                .comic {
                    width: calc(100% / 6);
                    padding-bottom: 20px;
            
                    img {
                        width: 150px;
                    }
            
                    h3 {
                        color: white;
                        text-transform: uppercase;
                        font-size: 15px;
                        margin-top: 10px;
                    }
                }
            }
        
            .main-button {
                font-size: 18px;
                text-align: center;
                margin-bottom: 25px;
            
                a {
                    text-decoration: none;
                    color: white;
                    background-color: $brand_primary_color;
                    padding: 10px 40px;
                }
            }
        }
    }

    &.comics-details-background {
        background-color: white;

        .pre-cover {
            background-color: $brand_primary_color;
            height: 60px;
        }

        .cover {
            position: absolute;
            bottom: 290px;

            img {
                width: 140px;
            }
        }

        .section-top {
            display: flex;
            margin: 50px 0;

            .comics-info {

                h3 {
                    color: #0e4c75;
                }

                .availability {
                    background-color: #55ba59;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 15px 0;
                    color: white;
                }
                
            }

            .advertisement {
                margin-left: 30px;

                h6 {
                    text-align: right;
                }

                img {
                    width: 250px;
                }
            }
        }

        .section-bottom {
            background-color: #f6f6f6;
            padding: 20px 0 50px 0;

            .infos {
                display: flex;

                .specs {
                    width: 50%;
                    margin-left: 20px;
                }
    
                .talent {
                    width: 50%;
    
                    .authors {
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }                
        }
    }
}