.prefooter {
    background-color: $brand_primary_color;
    padding: 40px 0;
    
    ul { 
        display: flex;
        list-style-type: none;
        justify-content: center;

        li {
            display: flex;
            align-items: center;
            margin: 0 15px;
        }

        a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-size: 13px;
        }

        img {
            height: 40px;
            max-width: 40px;
        }
    }
}